.container {
  width: 620px;
  border: 2px solid black;
  background-color: #fff;
  color: black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}

.catalog__button {
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(223, 222, 222);
  border: 1px solid black;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.catalog__button:hover {
  background-color: black;
  color: white;
}

.catalog__button:active {
  color: gray;
}
