.catalog {
  border: 2px solid black;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.catalog__image {
  width: 150px;
  height: 100px;
}

.catalog__button {
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  background-color: rgb(223, 222, 222);
  border: 1px solid black;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.catalog__button:hover {
  background-color: black;
  color: white;
}

.catalog__button:active {
  color: gray;
}
